{% extends 'base.html' %}
{% block title %}DRE - Movimentações{% endblock %}




{% block content %}
<h3>Plano de Contas</h3>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addAccountingModal">
    Plano de Contas
</button>

<!-- Modal -->
<div class="modal fade" id="addAccountingModal" tabindex="-1" aria-labelledby="accountingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="accountingModalLabel">Novo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for conta in accountings %}
        <tr>
            <td>{{ conta.id }}</td>
            <td>{{ conta.acc_name }}</td>
            <td>{{ conta.type }}</td>
            <td>
                <!-- Botão de deletar -->
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                    data-bs-target="#deleteAccountingModal{{ conta.id }}" title="Excluir">
                    <i class="bi bi-trash"></i>
                </button>

                <!-- Modal de exclusão -->
                <div class="modal fade" id="deleteAccountingModal{{ conta.id }}" tabindex="-1"
                    aria-labelledby="deleteModalLabel{{ conta.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="post" action="{% url 'accounting_delete' conta.id %}">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel{{ conta.id }}">Excluir Plano de Contas</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Fechar"></button>
                                </div>
                                <div class="modal-body">
                                    Tem certeza que deseja excluir o plano de contas <strong>{{ conta.acc_name }}</strong>?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-danger">Excluir</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhuma conta cadastrado ainda.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}